@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');
html {
    font-family: "Ancizar Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

li {
    user-select: none;
}